[Desktop Entry]
Icon=text-html
Name=DeepLearnin.ai: Machine Learning Specialization
Type=Link
URL[$e]=https://www.deeplearning.ai/specializations/machine-learning
